@charset 'UTF-8';

@font-face
{
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot?v=3.0.1');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),  url('fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),  url('fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype'),  url('fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'Font-Awesome-Social';
	src: url('fonts/fontawesome-social-webfont.eot');
	src: url('fonts/fontawesome-social-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/fontawesome-social-webfont.woff') format('woff'),  url('fonts/fontawesome-social-webfont.ttf') format('truetype'),  url('fonts/fontawesome-social-webfont.svg#Font-Awesome-More') format('svg');
	font-weight: normal;
	font-style: normal;
}

html, body
{
	height: 100%;
}

body
{
	margin: 0;
	padding: 0;
	background: #2F2F2F;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #000000;
}

h1, h2, h3
{
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-weight: 700;
	color: #222222;
}

h1
{
	font-size: 2em;
}

h2
{
	font-size: 2.6em;
}

h3
{
	font-size: 1.6em;
}

p, ol, ul
{
	margin-top: 0px;
}

p
{
	line-height: 180%;
}

strong
{
}

a
{
	color: #222222;
}

a:hover
{
	text-decoration: none;
}

a img
{
	border: none;
}

img.border
{
}

img.alignleft
{
	float: left;
}

img.alignright
{
	float: right;
}

img.aligncenter
{
	margin: 0px auto;
}

hr
{
	display: none;
}

.title
{
	border-bottom: solid 1px #dbdbdb;
	margin: 0 0 3em 0;
	text-align: center;
}

.title:after
{
	content: '';
	display: block;
	border-top: solid 1px #dbdbdb;
	height: 8px;
}

.title h2
{
	margin: 0 0 1em 0;
	font-weight: 700;
}

.title .byline
{
	position: relative;
	top: -2em;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.90em;
	color: #8E8E8E;
}

ul.style1
{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.style1 li
{
	clear: both;
	padding: 1.20em 0em;
	border-top: 1px solid #DBDBDB;
}

ul.style1 .first
{
	padding-top: 0em;
	border-top: none;
}

ul.style2
{
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.style2 li
{
	border-top: solid 1px #eee;
	padding: 0.80em 0;
}

ul.style2 li:first-child
{
	border-top: 0;
	padding-top: 0;
}

ul.contact
{
	overflow:  hidden;
	margin: 0em 0 5em 0;
	padding-top: 1em;
	text-align: center;
}

ul.contact li
{
	display: inline-block;
	margin-right: 0.5em;
	font-size: 1em;
}

ul.contact li span
{
	display: none;
	margin: 0;
	padding: 0;
}

ul.contact li a
{
	color: #FFF;
}

ul.contact li a:before
{
	display: inline-block;
	background: #3f3f3f;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #FFFFFF;
}

ul.contact li a.icon-twitter:before
{
	background: #2DAAE4;
}

ul.contact li a.icon-facebook:before
{
	background: #39599F;
}

ul.contact li a.icon-dribbble:before
{
	background: #C4376B;
}

ul.contact li a.icon-tumblr:before
{
	background: #31516A;
}

ul.contact li a.icon-rss:before
{
	background: #F2600B;
}

.button
{
	display: inline-block;
	margin-top: 2em;
	padding: 1em 3em;
	background: #C4376B;
	border-radius: 7px;
	-moz-transition: opacity 0.25s ease-in-out;
	-webkit-transition: opacity 0.25s ease-in-out;
	-o-transition: opacity 0.25s ease-in-out;
	-ms-transition: opacity 0.25s ease-in-out;
	transition: opacity 0.25s ease-in-out;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.90em;
	color: #FFF;
}

.button:hover
{
	background: #D64077;
}

.button:active
{
	background: #BD3567;
}

/** WRAPPER */

#wrapper
{
	background: #FFF;
}

#featured-wrapper
{
	overflow:  hidden;
	padding: 5em 0em;
	box-shadow: inset 0px 1px 0px 0px rgba(0,0,0,0.05), inset 0px 4px 15px 0px rgba(0,0,0,0.1);
}

#featured
{
	text-shadow: 0px 1px 0px #FFF;
}

#featured header
{
	margin-bottom: 2em;
}

#featured h2
{
	padding-bottom: 1.5em;
	letter-spacing: 0.10em;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 400;
}

#featured .style1 a
{
}

.wrapper-style1
{
	overflow: hidden;
	width: 1200px;
	margin: 0px auto;
	padding: 5em 0em 3em 0em;
}

.container
{
	width: 1200px;
	margin: 0px auto;
}

.clearfix
{
	clear: both;
}

.image
{
	display: inline-block;
}

.image img
{
	display: block;
	width: 100%;
}

.image-full
{
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
}

.image-left
{
	float: left;
	margin: 0 2em 2em 0;
}

.image-centered
{
	display: block;
	margin: 0 0 2em 0;
}

.image-centered img
{
	margin: 0 auto;
	width: auto;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper
{
	overflow: hidden;
	background: url(images/header.jpg) no-repeat center bottom;
	background-size: 100% 100%;
}

#header
{
	position: relative;
	height: 13em;
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo
{
	position: absolute;
	top: 3.2em;
	left: 0;
	width: 100%;
	margin-top: -0.5em;
}

#logo h1
{
	display: inline-block;
	padding: 0.8em 1.3em 0.6em 0.50em;
	font-size: 2.5em;
	text-transform: uppercase;
	font-weight: 900;
}

#logo a
{
	text-decoration: none;
	color: #FFF;
}

/*********************************************************************************/
/* Menu                                                                           */
/*********************************************************************************/

	#menu
{
	position: absolute;
	right: 0;
	top: 5em;
}

.homepage #menu
{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}

#menu > ul > li > ul
{
	display: none;
}

#menu ul
{
	display: inline-block;
}

#menu li
{
	display: block;
	float: left;
	text-align: center;
}

#menu li a, #menu li span
{
	display: block;
	padding: 0.80em 1.5em;
	letter-spacing: 0.25em;
	text-decoration: none;
	font-size: 0.80em;
	font-weight: 600;
	text-transform: uppercase;
	outline: 0;
	color: #FFF;
}

#menu li:hover a, #menu li.active a, #menu li.active span
{
}

#menu .current_page_item a
{
}

/** PAGE */

#page
{
	overflow: hidden;
	padding: 4em 0em 5em 0em;
}

/** CONTENT */

#content
{
	float: left;
	width: 790px;
}

#page .title
{
	text-align: left;
}

#page .title h2
{
	font-size: 1.8em;
}

#page h3
{
	margin-bottom: 1em;
	font-size: 1.3em;
}

/** SIDEBAR */

#sidebar
{
	float: right;
	width: 345px;
}

#sbox1
{
	margin-bottom: 4em;
}

#sbox2
{
	margin-bottom: 4em;
}

/* Footer */

#footer
{
	overflow: hidden;
	padding: 5em 0em;
	text-align: center;
	text-transform: uppercase;
	color: #6F6F6F;
}

#footer h2
{
	letter-spacing: 0.10em;
	font-weight: 400;
	color: #FFF;
	font-size: 2.5em;
}

#footer .byline
{
	display: inline-block;
	padding-bottom: 1.50em;
	letter-spacing: 0.10em;
}

#footer p
{
	letter-spacing: 0.15em;
	font-size: 0.80em;
}

#footer a
{
	color: #7F7F7F;
}

#footer header .byline
{
	position: relative;
	padding: 0em 2em;
	top: -2em;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.90em;
	color: #6F6F6F;
}

#welcome
{
}

#welcome p
{
	padding: 0em 4em;
	text-align: center;
	font-size: 1.1em;
}

#portfolio
{
	text-align: center;
}

#column1, #column2, #column3, #column4
{
	width: 282px;
}

#column1, #column2
{
	float: left;
	margin-right: 24px;
}

#column3
{
	float: left;
}

#column4
{
	float: right;
}

#box1, #box2, #box3
{
	width: 384px;
}

#box1, #box2
{
	float: left;
}

#box1
{
	margin-right: 24px;
}

#box3
{
	float: right;
}

#portfolio-wrapper
{
	overflow: hidden;
	padding: 6em 0em;
	background: #FFF;
}

#portfolio h2
{
	padding-bottom: 1.5em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 2.3em;
	font-weight: 400;
}

#portfolio img
{
	margin-bottom: 2em;
}

#port1, #port2, #port3
{
	width: 384px;
}

#port1, #port2
{
	float: left;
}

#port1
{
	margin-right: 24px;
}

#port3
{
	float: right;
}
